.main {
    display: flex;
    column-gap: 20px;
    margin-top: 20px 0;
}

.image {
    align-self: center;
}

.main img {
    width: 350px;
    height: 350px;
}

.container-product-description {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
    padding: 15px;
    flex: 1;
    margin-bottom: 15px;
}

.product-name {
    font-size: 36px;
}

.product-price {
    font-size: 28px;
    font-weight: 400;
    margin: 20px 0 20px;
}

.avaiability {
    font-size: 12px;
}

label {
    margin: 20px 0;
    display: block;
}

input {
    width: 30px;
    padding: 5px;
}

button {
    background-color: royalblue;
    border: none;
    padding: 10px;
    color: white;
    font-size: 24px;
    transition: .3s all;
    margin: 20px 0;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.3);
}

