<section class="main">
    <div class="image">
        <img src="/assets/iPhone11.png" alt="">
    </div>
    <div class="container-product-description">
        <h2 class="product-name">iPhone 11</h2>
        <h3 class="product-price">R$2000</h3>
        <p>Estoque Disponível:</p>
        <label>
            <input type="number">
            unidade(s)
        </label>
        <p class="avaiability ">
            10 unidade(s) em estoque
        </p>
        <button>Adicionar ao Carrinho</button>
    </div>
</section>
