<header class="main">
    <h1 class="title">
        <span class="title-one">Celular </span><span class="title-two">House</span>
    </h1>
    <div class="container-menu">
        <nav class="menu">
            <ul>
                <li>
                    <a>Produtos</a>
                </li>
                <li>
                    <a>
                        <i></i>
                        Carrinho
                        <span class="badge">0</span>
                    </a>
                </li>
                <li><a>Contato</a></li>
                <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
        <form class="search">
            <input type="text">
            <button><i class=""></i></button>
        </form>
    </div>
</header>