.main {
    padding: 40px 0;
    width: fit-content;    
    display: flex;
    gap: 20px;
    flex-flow: row wrap;  
    justify-content: space-evenly;
    align-content: center;  
}

.card {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    flex: 0 1 270px;
    height: 600px;
    background-color:rgb(238, 238, 238);
    box-shadow: rgba(58, 84, 230, 0.8) 2px 2px 8px 0px;     
}

.card:hover {
    outline: 1px solid lime;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.link {
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 10px; 
    text-decoration: none;
}

.card img {
    height: 250px;
    width: 250px;    
    display: block;
    border-radius: 4px;
}

.name {
    font-size: 24px;
    color: lime;
}

.price {
    color: royalblue;
    font-size: 32px;
    font-weight: bold;
}

.price-deion {
    color: rgb(238, 238, 238);
    font-size: 12px;
    font-weight: bold;
}

.buy-button {
    background-color: royalblue;
    border: none;
    color:  rgb(238, 238, 238);
    font-size: 20px;
    padding: 6px 12px;
}

.buy-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}